<mat-sidenav-container style="height: 100%;">
  <mat-sidenav [mode]="smallScreen ? 'over' : 'side'" [opened]="opened" (closed)="closeSideNav()">
    <div style="background-color: #ffffff;">
      <div style="width: 100px; height: 100px; margin: auto;">
        <img src="../../assets/Logo.png" style="max-width: 100%; max-height: 100%;">
      </div>
      <h1 style="padding: 1%; text-align: center;">
        MSL Confession
      </h1>
      <mat-nav-list>
        <a mat-button routerLink="/home" routerLinkActive="active">
          Posts
        </a>
        <br>
        <a mat-button routerLink="/home/edit" routerLinkActive="active">
          Post Confession
        </a>
      </mat-nav-list>
      <hr style="width: 90%;">
    </div>
    <div>
      <p style="padding: 5% 0 0 8%; font-size: 12px;">CATEGORIES</p>
      <mat-nav-list *ngFor="let category of categories">
        <a mat-button (click)="onClick(category.name)">{{category.name}}</a>
      </mat-nav-list>
    </div>
    <br>
    <div style="background-color: #ffffff;">
      <hr style="width: 90%;">
      <a mat-button href="https://www.facebook.com/nus.msl.ufo" target="_blank">
        <mat-icon matPrefix>facebook</mat-icon>
        Facebook
      </a>
      <br>
      <a mat-button href="https://www.instagram.com/nus.msl/" target="_blank">
        <mat-icon svgIcon="instagram"></mat-icon>
        Instagram
      </a>
      <p style="margin-left: 10%; color: #AAAAAA; width: 90%;">Copyright © {{thisYear}} <br> NUS Malaysian <br>
        Students' League</p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [ngClass]="{'sticky': !smallScreen}" style="margin: 0">
      <mat-toolbar-row>
        <span>
          <button mat-icon-button fxHide.gt-sm="true" (click)="openSideNav()">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-form-field style="margin-left:5%" [ngClass]="{'longSearchBar': !smallScreen}" floatLabel="always">
            <mat-label></mat-label>
            <input #searchTerm matInput placeholder="Search..." (keyup.enter)="searchOnEnter(searchTerm.value)">
          </mat-form-field>
        </span>
        <span class="fill-remaining-space"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>