#home:link,
#home:hover,
#home:visited,
#home:active {
    color: #555555;
}

.longSearchBar {
    width: 300%;
}

.bottomStick {
    position: absolute;
    bottom: 1%;
}

.bottomRelative {
    position: relative;
}

a {
    width: 100%;
    text-align: left;
}