.main {
    width: 80%; 
    padding: 20px;
}

.navigation {
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
}

.content {
    margin: auto; 
    width: 80%;
}

.post {
    padding: 10px;
}

.comment {
    background-color: #F5F5F5;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    color: #3f51b5;
}