<div class="sticky">
  <mat-toolbar color="primary" class="sticky">
    <mat-toolbar-row>
      <span>MSL Confession Administrative Page</span>
      <span class="fill-remaining-space"></span>
      <app-logout></app-logout>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="table mat-elevation-z8">
  <h1>Posts</h1>
  <mat-table [dataSource]="posts">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let i = index">
      {{this.postsPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.postsPaginator.pageIndex * this.postsPaginator.pageSize}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef>Post</mat-header-cell>
      <mat-cell *matCellDef="let cell" >{{ cell.text }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="time_created">
      <mat-header-cell *matHeaderCellDef> Time Created</mat-header-cell>
      <mat-cell *matCellDef="let cell">
        <div>
          {{ cell.time_created | date:'medium'}}
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let cell">
        <div class="center">
          <button
            mat-button
            color="primary"
            (click)="updateState('Post', true, cell.id)"
          >
            Approve
          </button>
          <button
            mat-button
            color="secondary"
            (click)="updateState('Post', false, cell.id)"
          >
            Reject
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="postTableColumns"></mat-header-row>
    <mat-row *matRowDef="let cell; columns: postTableColumns"></mat-row>
  </mat-table>
  <mat-spinner *ngIf="posts.loading$ | async" class="spinner-container"></mat-spinner>
  <div class="message" *ngIf="(posts.length$ | async) === 0 && ! (posts.loading$ | async)">No records found</div>
  <mat-paginator
    [pageSize]="10"
    [length]="posts.length$ | async"
    #PostsPaginator="matPaginator"
  ></mat-paginator>
</div>

<div class="table mat-elevation-z8">
  <h1 class="header">Comments</h1>
  <mat-table [dataSource]="comments">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let i = index">
      {{this.commentsPaginator.pageIndex == 0 ? i + 1 : 1 + i + this.commentsPaginator.pageIndex * this.commentsPaginator.pageSize}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef>Comment</mat-header-cell>
      <mat-cell *matCellDef="let cell">{{ cell.text }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="poster">
      <mat-header-cell *matHeaderCellDef>Poster</mat-header-cell>
      <mat-cell *matCellDef="let cell">{{ cell.poster }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="time_created">
      <mat-header-cell *matHeaderCellDef>Time Created</mat-header-cell>
      <mat-cell *matCellDef="let cell">{{ cell.time_created | date:'medium'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let cell">
        <div class="center">
          <button
            mat-button
            color="primary"
            (click)="updateState('Comment', true, cell.id)"
          >
            Approve
          </button>
          <button
            mat-button
            color="secondary"
            (click)="updateState('Comment', false, cell.id)"
          >
            Reject
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="commentTableColumns"></mat-header-row>
    <mat-row *matRowDef="let cell; columns: commentTableColumns"></mat-row>
  </mat-table>
  <mat-spinner  *ngIf="comments.loading$ | async" class="spinner-container"></mat-spinner>
  <div class="message" *ngIf="(comments.length$ | async) === 0 && ! (comments.loading$ | async)">No records found</div>
  <mat-paginator
    [pageSize]="10"
    [length]="comments.length$ | async"
    #CommentsPaginator="matPaginator"
  ></mat-paginator>
  
</div>
