mat-table, mat-paginator{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

.header{
  text-align: center;
}

.table {
  margin-top: 50px;
}

.message {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.spinner-container{
  margin: auto;
  width: 20%;
  padding: 10px;
}

.mat-column-id {
  flex: 0 0 2% !important;
  min-width: 50px !important;
}