<div class="sticky">
    <mat-toolbar color="primary" class="sticky">
        <mat-toolbar-row>
            <span>MSL Confession Administrative Page</span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-card class="mat-elevation-z8">
    <h2>Administrator Login</h2>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide? 'password':'text'" formControlName="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <br>

        <button mat-raised-button class="full-width" style="align-items: center;" color="primary" type="submit"
            (click)="onSubmit()">Login</button>

    </form>
    <br>
    <p style="color: red;">{{errorString}}</p>
</mat-card>