<div *ngIf="cards.length > 0" style="width: 95%; margin: auto;">
    <mat-list>
        <mat-card *ngFor="let card of cards" [routerLink]="['/home/post']"
            [queryParams]="{id: card.id}" style="margin: 15px;">
            <mat-card-header>
                <mat-card-title><strong>#{{ card.id }}</strong></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>{{ card.preview }}</div>
                <div class="same-line">
                    <span class="date">{{ card.date }}</span>
                    <div class="same-line reaction-summary">
                        <span class="material-icons" style="margin: 5px;">thumb_up</span>
                        <span>{{ card.likes }}</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-list>
    <!-- can only query specific page of posts -->
    <!-- mat-paginator needs all data -->
    <!-- so create custom "paginator" -->
    <div class="paginator">
        <button mat-raised-button (click)="onPreviousClick()"
            [disabled]="isFirstPage">Previous</button>
        <span>Page {{ page }}</span>
        <button mat-raised-button (click)="onNextClick()" [disabled]="isLastPage">Next</button>
    </div>
</div>
<div *ngIf="cards.length==0" style="margin: 28px;">
    <p style="font-size: 20px;"><b>No results!</b></p>
    <br>
    <p>Suggestions:</p>
    <ul>
        <li>Make sure that all words are spelled as intended.</li>
        <li>Try more general keywords.</li>
        <li>Try incomplete keywords (e.g. keywor).</li>
    </ul>
</div>