.same-line {
    display    : flex;
    align-items: center;
}

.reaction-summary {
    position: absolute;
    right   : 20px;
    color   : #959595;
}

.paginator {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.paginator>* {
    margin: 16px;
}

.mat-card {
    cursor: pointer;
}

.mat-card:hover {
    background-color: rgba(0, 0, 0, 0.001);
    transition      : all 0.5s;
}

.mat-standard-chip {
    min-height: 20px;
    height    : 24px !important;
}