.same-line {
    display    : flex;
    align-items: center;
}

.reaction-summary {
    margin-right: 10px;
    color       : #959595;
}

.paginator {
    text-align     : center;
    display        : flex;
    justify-content: space-between;
}

.paginator>* {
    margin: 16px;
}

.mat-card {
    cursor: pointer;
}

.mat-card:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition      : all 0.5s;
}

.mat-chip {
    min-height: 20px;
    height    : 24px !important;
    cursor    : pointer
}